<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kudo Wall - Board</title>

    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">    
    <link rel="stylesheet" href="<%= webpackConfig.output.publicPath %>commons/commons.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
</html>

