@import "https://fonts.googleapis.com/css?family=Montserrat";

:root {
    --filter-button-color: #828282;
    --button-color: #EC6707;
    --header-color: #1f2044;
    --form-title: #3a3c6e;
    --font-color: #1f2044;
    --button-font: var(--font-color);
    --body-background-color: white;
    --body-background-image: none;
    --body-background-size: 100%;

    --header-bg-size: unset;
    --header-bg-image: unset;
    --header-bg-position-x: 5px, 200px, 85%, 97%;
    --header-bg-position-y: 5px, 5px, 5px, 5px;

    --breadcrumb-dot-color: #EC6707;
    --breadcrumb-line-color: #EC6707;

    --color-1: #9e4d52;
    --color-2: #ffc86d;
    --color-3: #81cf9b;
    --color-4: #b8c6d7;    
}

html, body {
    font-family: Montserrat, Arial, Verdana, Tahoma, sans-serif;
    margin: 0;
    overflow: hidden;
    color: var(--font-color);
    font-size: calc(9px + 1 * 0.5vw);
}

h1 {    
    font-size: 2.5em;
    padding: 4px;
    margin: 0;
}

h4 {
    padding: 0;
    margin: 0;
}

.button, button {
    border: 3px transparent solid;
    background: var(--button-color);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 40px;
    min-width: 8vw;
    cursor: pointer;
    padding: calc(8px + 0.3vw);
    font-size: 1em;
}

.button {
    max-height: 18px;
    display: inline-block;
    color: var(--button-font);
}

button:disabled, button:hover:disabled, 
.button:disabled, .button:hover:disabled {
    background-color: #c9c9c9;
    color: white;
    border-color: white;
}

button:hover,
.button:hover {
    background: white;
    color: var(--button-color);
    border-color: var(--button-color);
}

.filter {
    padding: 5px;
    margin-left: 10px;
    background-color: white;
    border-color: var(--filter-button-color);
    color: var(--filter-button-color);
    width: 80px;
}

.filter.active {
    background-color: var(--filter-button-color);
    color: white;
}

.filter.active:hover {
    border-color: var(--filter-button-color);
    cursor: default;
}

.pull-right { 
    float: right; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.color-1 { background-color: var(--color-1) !important }
.color-2 { background-color: var(--color-2) !important }
.color-3 { background-color: var(--color-3) !important }
.color-4 { background-color: var(--color-4) !important }

.content-center {
    display: flex;
    justify-content: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.hide {
    display: none;
}

.mobile {
    display: none;
}

@media(max-width: 600px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
}

.badge-01 { background: linear-gradient(100deg, rgba(230,78,37,1) 0%, rgba(69,41,99,1) 100%) !important }
.badge-02 { background: linear-gradient(149deg, rgba(255,2,90,1) 0%, rgba(110,41,121,1) 100%) !important }
.badge-03 { background: linear-gradient(149deg, rgba(227,4,49,1) 0%, rgba(9,152,220,1) 100%) !important }
.badge-04 { background: linear-gradient(149deg, rgba(50,56,140,1) 0%, rgba(24,7,49,1) 100%) !important }
.badge-05 { background: linear-gradient(149deg, rgba(213,9,58,1) 0%, rgba(47,36,96,1) 100%) !important }
.badge-06 { background: linear-gradient(149deg, rgba(8,131,209,1) 0%, rgba(28,21,62,1) 100%) !important }
.badge-07 { background: linear-gradient(149deg, rgba(97,53,104,1) 0%, rgba(245,151,227,1) 100%) !important }
