<template>
    <RegisterLayout title="Customização layout">
        <section class="content">
            <div v-for="(group, index) in rootVariables" :key="index">
                <h3>{{group.title}}</h3>
                <h4 v-if="group.subtitle">{{group.subtitle}}</h4>
                <StyleComponent
                    v-for="variable in group.variables"
                    :key="variable.name"
                    :property="variable.name"
                    :header="variable.header" />
            </div>
            <button @click="save()">Salvar</button>
            <br>
        </section>
    </RegisterLayout>
</template>

<script>
import RegisterLayout from '../layouts/RegisterLayout'
import StyleComponent from '../components/StyleComponent'
import axios from 'axios'
import { team, uri } from '../tenant'

export default {
  name: 'CustomizeStyle',
  components: {
    RegisterLayout,
    StyleComponent
  },
  data: function () {
    return {
      rootVariables: [
        {
          title: 'Geral',
          subtitle: 'Opções de imagens devem ser separados por vírgula',
          variables: [
            { name: '--header-color', header: 'Cor de fundo do cabeçalho:' },
            { name: '--font-color', header: 'Cor da fonte:' },
            { name: '--button-color', header: 'Cor dos botões:' },
            { name: '--button-font', header: 'Cor da fonte dos botões:' },
            { name: '--filter-button-color', header: 'Cor dos botões de filtragem:' },
            { name: '--header-bg-size', header: 'Tamanho das imagens do cabeçalho:' },
            { name: '--header-bg-position-x', header: 'Posição horizontal das imagens do cabeçalho:' },
            { name: '--header-bg-position-y', header: 'Posição vertical das imagens do cabeçalho:' }
          ]
        },
        {
          title: 'Tela Cadastro',
          subtitle: 'Opções de imagens devem ser separados por vírgula',
          variables: [
            { name: '--form-title', header: 'Cor de fundo do título:' },
            { name: '--body-background-color', header: 'Cor de fundo:' },
            { name: '--body-background-size', header: 'Tamanho de imagens:' },
            { name: '--body-background-position-x', header: 'Posição horizontal das imagens:' },
            { name: '--body-background-position-y', header: 'Posição vertical das imagens:' },
            { name: '--breadcrumb-dot-color', header: 'Cor do preenchimento do breadcrumb:' },
            { name: '--breadcrumb-line-color', header: 'Cor da linha do breadcrumb:' }
          ]
        },
        {
          title: 'Paleta de cores Cards',
          variables: [
            { name: '--color-1', header: 'Cor 1:' },
            { name: '--color-2', header: 'Cor 2:' },
            { name: '--color-3', header: 'Cor 3:' },
            { name: '--color-4', header: 'Cor 4:' }
          ]
        }
      ]
    }
  },
  methods: {
    toCss () {
      const style = getComputedStyle(document.documentElement)
      const values =
            this.rootVariables
              .map(
                group => group.variables
                  .map(variable => `    ${variable.name}: ${style.getPropertyValue(variable.name)};`)
                  .join('\n')
              )
              .join('\n')

      return `:root {\n${values}\n}`
    },
    save () {
      const cssFile = this.toCss()

      axios.put(`${uri}/customize/${team}/style`, cssFile)
        .then(response => {
          this.$toastr.s('Customização feita com sucesso', 'Salvou com sucesso!')
          this.$router.push('/')
        })
        .catch(error => {
          console.log(error.message)
          this.$toastr.e('Não consegui salvar esta customização', 'Vish, deu ruim')
        })
    }
  }
}
</script>

<style scoped>
    .content {
        display: grid;
        grid-row-gap: 7px;
        max-height: calc(100vh - 280px);
    }
</style>
