<template>
  <div class="cards">
      <Card
          v-for="card in cards"
          v-bind:key="card.id"
          :card="card"
          :color="getColor(card.meme)"
          :exported="true" />
  </div>
</template>

<script>
import Card from '@/components/Card'
import axios from 'axios'
import moment from 'moment'

import { uri, team } from '@/tenant'

export default {
  name: 'ExportKudo',
  components: {
    Card
  },
  data: function () {
    return {
      cards: [],
      memes: []
    }
  },
  methods: {
    loadBoard () {
      const loader = this.$loading.show()
      const urlParams = new URLSearchParams(window.location.search)
      const base64Param = urlParams.get('url')

      axios
        .get(`${uri}/filter/${team}?url=${base64Param}`)
        .then(res => {
          loader.hide()
          this.$data.cards = res.data
            .sort((a, b) => moment(b.timestamp).diff(moment(a.timestamp)))
        })
        .catch(error => {
          console.log(error.message)
          loader.hide()
        })
    },
    loadMemes () {
      fetch(`private/${team}/memes.json`)
        .then(response => {
          if (response.status !== 200) {
            alert('Time não configurado, verifique com seu time ou fale com seu gestor.')
            return []
          }
          return response.json()
        })
        .then(myJson => {
          this.$data.memes = myJson
        })
    },
    getColor (meme) {
      const filtered = this.$data.memes.filter(e => e.image === meme)[0] || {}
      return filtered.color
    }
  },
  created () {
    this.loadMemes()
    this.loadBoard()
  }
}
</script>

<style scoped>
.cards {
  /* display: inline-block; */
  text-align: center;
}

@page {
  size: A4 landscape;
  margin: 10mm 10mm 10mm 10mm;
}

@media print {
  html, body {
    width: 297mm;
    height: 210mm;
  }

  nav {
    display: none;
  }

}

</style>
