<template>
  <div>
    <div id="wrapper">
      <div id="piao" :class="{ running: running }">
        <div class="numero um" :class="{ winner: winner }" v-html="principal"></div>
        <div class="numero dois">2</div>
        <div class="numero tres">3</div>
        <div class="numero quatro">4</div>
        <div class="numero cinco">5</div>
        <div class="numero seis">6</div>
      </div>

      <div id="moldura"></div>
      <div id="piao-bg"></div>
    </div>

    <audio preload="auto">
      <source src="../assets/piao/piao-da-casa-propria-soundtrack.mp3" />
      <source src="../assets/piao/piao-da-casa-propria-soundtrack.ogg" />
    </audio>
    <button @click="play" v-if="!picked">► Má Oiiii</button>

    <Modal v-if="showModal && winner" @close="showModal = false">
        <h3 slot="header">Vencedor!!!!!</h3>
        <div class="card-winner">
          <Card :card="winner" />
        </div>
    </Modal>
    <div class="pyro" v-if="winner">
      <div class="before"></div>
      <div class="after"></div>
    </div>
  </div>

</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Card from '../components/Card'
import Modal from '../components/Modal'

import { uri, team } from '@/tenant'

export default {
  name: 'Lottery',
  components: {
    Card,
    Modal
  },
  data: function () {
    return {
      picked: false,
      running: false,
      cards: [],
      filter: {
        team
      },
      audio: undefined,
      winner: undefined,
      showModal: true
    }
  },
  methods: {
    async run () {
      const lastQuarter = moment().subtract(1, 'quarter')
      const filter = {
        period: {
          start: lastQuarter.startOf('quarter').unix(),
          end: lastQuarter.endOf('quarter').unix()
        }
      }

      this.running = true
      this.audio.currentTime = 0
      const base64Param = team + btoa(JSON.stringify(filter))

      try {
        const res = await axios.get(`${uri}/filter/${team}?url=${base64Param}`)
        this.cards = res.data
          .sort((a, b) => moment(b.timestamp).diff(moment(a.timestamp)))

        setTimeout(() => this.pick(), this.audio.duration * 600)
      } catch (error) {
        this.audio.pause()
        this.$toastr.e('Deu um probleminha, tente mais tarde!')
      }
    },
    pick () {
      const winnerIndex = Math.floor(Math.random() * this.cards.length)
      this.winner = this.cards[winnerIndex]
      setTimeout(() => { this.running = false }, this.audio.duration * 400)
    },
    play () {
      this.audio.play()
      this.picked = true
    }
  },
  computed: {
    principal () {
      if (this.winner) {
        return `Ganhador!!!
        <br>
        ${this.winner.member}`
      }

      return '1'
    }
  },
  mounted () {
    this.audio = this.$el.querySelectorAll('audio')[0]
    this.audio.addEventListener('play', this.run)
  }
}
</script>

<style scoped>
    @media all and (max-width: 700px) and (min-width:700px) {
      #wrapper {
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
      }
    }

    @-webkit-keyframes running {
      from { -webkit-transform: rotateY(0); }
      to   { -webkit-transform: rotateY(-360deg); }
    }
    @-moz-keyframes running {
      from { -moz-transform: rotateY(0); }
      to   { -moz-transform: rotateY(-360deg); }
    }
    @keyframes running {
      from { transform: rotateY(0); }
      to   { transform: rotateY(-360deg); }
    }
   #wrapper {
      width: 400px;
      height: 400px;
      position: absolute;
      left: 50%;
      top: 55%;
      margin-left: -200px;
      margin-top: -200px;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    #piao {
      position: relative;
      top: 40px;
      margin: 0 auto; /* centraliza o pião */
      height: 330px;
      width: 200px;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    #piao.running {
      -webkit-animation: running 4s infinite linear;
      -moz-animation: running 4s infinite linear;
      animation: running 4s infinite linear;
    }
    #piao .numero {
      position: absolute;
      height: 100%;
      width: 200px;
      border: 6px solid white;
      text-align: center;
      line-height: 320px;
      font-family: Impact, sans-serif;
      font-size: 240px;
      color: white;
      background-color: rgb(0, 0, 0);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    #piao > .numero.um {
      -webkit-transform: translateZ(170px);
      -moz-transform: translateZ(170px);
      transform: translateZ(170px);
    }
    #piao > .numero.dois {
      -webkit-transform: rotateY(60deg) translateZ(170px);
      -moz-transform: rotateY(60deg) translateZ(170px);
      transform: rotateY(60deg) translateZ(170px);
    }
    #piao > .numero.tres {
      -webkit-transform: rotateY(120deg) translateZ(170px);
      -moz-transform: rotateY(120deg) translateZ(170px);
      transform: rotateY(120deg) translateZ(170px);
    }
    #piao > .numero.quatro {
      -webkit-transform: rotateY(180deg) translateZ(170px);
      -moz-transform: rotateY(180deg) translateZ(170px);
      transform: rotateY(180deg) translateZ(170px);
    }
    #piao > .numero.cinco {
      -webkit-transform: rotateY(240deg) translateZ(170px);
      -moz-transform: rotateY(240deg) translateZ(170px);
      transform: rotateY(240deg) translateZ(170px);
    }
    #piao > .numero.seis {
      -webkit-transform: rotateY(300deg) translateZ(170px);
      -moz-transform: rotateY(300deg) translateZ(170px);
      transform: rotateY(300deg) translateZ(170px);
    }

    .winner {
      font-size: 36px !important;
      background-color: rgb(155, 0, 0) !important;
      line-height: 50px !important;
      padding-top: 50px;
    }

    /* Decoração
    ---------------------------------------- */
    #moldura {
      height: 400px;
      width: 400px;
      border: 50px solid rgb(200, 0, 0);
      border-radius: 250px;
      position: absolute;
      top: -45px;
      left: -50px;
      -webkit-transform: translateZ(400px);
      -moz-transform: translateZ(400px);
      transform: translateZ(400px);
      box-shadow:
        inset -1px -2px 0px 3px rgb(150, 0, 0),
        inset -1px -2px 10px 10px rgba(0, 0, 0, 0.5),
        -2px -2px 0px 3px rgb(150, 0, 0),
        -4px -4px 10px 10px rgba(0, 0, 0, 0.5);
    }
    #piao-bg {
      height: 430px;
      width: 430px;
      border-radius: 300px;
      position: absolute;
      top: -10px;
      left: -10px;
      background-color: #222;
      -webkit-transform: translateZ(1px);
      -moz-transform: translateZ(1px);
      transform: translateZ(1px);
    }

    button {
      margin: 10px;
    }

    .card-winner {
      width: 500px;
      margin: 10px;
    }

    button {
      margin-left: 46%;
      top: 50%;
      position: fixed;
    }

    /** Fogos pure CSS https://codepen.io/JFarrow/pen/JjorpGp */
    .pyro > .before, .pyro > .after {
      z-index: 99999;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
      -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    }

    .pyro > .after {
      z-index: 99999;
      -moz-animation-delay: 1.25s, 1.25s, 1.25s;
      -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
      -o-animation-delay: 1.25s, 1.25s, 1.25s;
      -ms-animation-delay: 1.25s, 1.25s, 1.25s;
      animation-delay: 1.25s, 1.25s, 1.25s;
      -moz-animation-duration: 1.25s, 1.25s, 6.25s;
      -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
      -o-animation-duration: 1.25s, 1.25s, 6.25s;
      -ms-animation-duration: 1.25s, 1.25s, 6.25s;
      animation-duration: 1.25s, 1.25s, 6.25s;
    }

    @-webkit-keyframes bang {
      to {
        box-shadow: -101px -248.6666666667px #dd00ff, -214px -70.6666666667px #00f2ff, 216px -10.6666666667px #ff5e00, -222px -312.6666666667px #00ff88, 103px -39.6666666667px #3c00ff, 15px -320.6666666667px #00ffae, -231px -345.6666666667px #ff9900, -112px -203.6666666667px #ff6f00, 93px -112.6666666667px #00ff84, -17px 83.3333333333px #ff00a2, 248px 66.3333333333px #00ff15, -136px -113.6666666667px #ff007b, -214px -15.6666666667px #48ff00, -165px -33.6666666667px #ff0066, -136px -103.6666666667px #0088ff, 150px -133.6666666667px #001eff, 131px -82.6666666667px #fff700, 60px -185.6666666667px #ff2600, -15px -97.6666666667px #009dff, 192px -198.6666666667px #00ffee, -171px -122.6666666667px #fff200, -34px 32.3333333333px #00ff73, 229px -167.6666666667px #95ff00, -176px -5.6666666667px #ff6a00, 49px 54.3333333333px #0400ff, 114px 28.3333333333px #ffd000, -47px -134.6666666667px #ff0033, 65px 80.3333333333px #ff003c, -119px 29.3333333333px #22ff00, -78px -303.6666666667px #ff4d00, -165px 1.3333333333px #ff5900, -232px -382.6666666667px #ff0033, -120px -320.6666666667px #ff00e1, -100px -333.6666666667px #ff9500, 1px 34.3333333333px #ff006f, 182px -290.6666666667px #1100ff, -130px -342.6666666667px #e6ff00, -62px 3.3333333333px #ff7b00, 66px -56.6666666667px #0055ff, 173px 60.3333333333px #00ff48, 79px -360.6666666667px #66ff00, -70px 56.3333333333px #00ff91, -58px -192.6666666667px #7300ff, 28px -135.6666666667px #00ffd5, -235px -244.6666666667px #5100ff, 201px -72.6666666667px #ffd900, 11px 15.3333333333px #ff0011, -38px -81.6666666667px #ff002b, -5px -95.6666666667px #00ff40, -112px -51.6666666667px #00ff7b, -53px -321.6666666667px #ff1100;
      }
    }
    @-moz-keyframes bang {
      to {
        box-shadow: -101px -248.6666666667px #dd00ff, -214px -70.6666666667px #00f2ff, 216px -10.6666666667px #ff5e00, -222px -312.6666666667px #00ff88, 103px -39.6666666667px #3c00ff, 15px -320.6666666667px #00ffae, -231px -345.6666666667px #ff9900, -112px -203.6666666667px #ff6f00, 93px -112.6666666667px #00ff84, -17px 83.3333333333px #ff00a2, 248px 66.3333333333px #00ff15, -136px -113.6666666667px #ff007b, -214px -15.6666666667px #48ff00, -165px -33.6666666667px #ff0066, -136px -103.6666666667px #0088ff, 150px -133.6666666667px #001eff, 131px -82.6666666667px #fff700, 60px -185.6666666667px #ff2600, -15px -97.6666666667px #009dff, 192px -198.6666666667px #00ffee, -171px -122.6666666667px #fff200, -34px 32.3333333333px #00ff73, 229px -167.6666666667px #95ff00, -176px -5.6666666667px #ff6a00, 49px 54.3333333333px #0400ff, 114px 28.3333333333px #ffd000, -47px -134.6666666667px #ff0033, 65px 80.3333333333px #ff003c, -119px 29.3333333333px #22ff00, -78px -303.6666666667px #ff4d00, -165px 1.3333333333px #ff5900, -232px -382.6666666667px #ff0033, -120px -320.6666666667px #ff00e1, -100px -333.6666666667px #ff9500, 1px 34.3333333333px #ff006f, 182px -290.6666666667px #1100ff, -130px -342.6666666667px #e6ff00, -62px 3.3333333333px #ff7b00, 66px -56.6666666667px #0055ff, 173px 60.3333333333px #00ff48, 79px -360.6666666667px #66ff00, -70px 56.3333333333px #00ff91, -58px -192.6666666667px #7300ff, 28px -135.6666666667px #00ffd5, -235px -244.6666666667px #5100ff, 201px -72.6666666667px #ffd900, 11px 15.3333333333px #ff0011, -38px -81.6666666667px #ff002b, -5px -95.6666666667px #00ff40, -112px -51.6666666667px #00ff7b, -53px -321.6666666667px #ff1100;
      }
    }
    @-o-keyframes bang {
      to {
        box-shadow: -101px -248.6666666667px #dd00ff, -214px -70.6666666667px #00f2ff, 216px -10.6666666667px #ff5e00, -222px -312.6666666667px #00ff88, 103px -39.6666666667px #3c00ff, 15px -320.6666666667px #00ffae, -231px -345.6666666667px #ff9900, -112px -203.6666666667px #ff6f00, 93px -112.6666666667px #00ff84, -17px 83.3333333333px #ff00a2, 248px 66.3333333333px #00ff15, -136px -113.6666666667px #ff007b, -214px -15.6666666667px #48ff00, -165px -33.6666666667px #ff0066, -136px -103.6666666667px #0088ff, 150px -133.6666666667px #001eff, 131px -82.6666666667px #fff700, 60px -185.6666666667px #ff2600, -15px -97.6666666667px #009dff, 192px -198.6666666667px #00ffee, -171px -122.6666666667px #fff200, -34px 32.3333333333px #00ff73, 229px -167.6666666667px #95ff00, -176px -5.6666666667px #ff6a00, 49px 54.3333333333px #0400ff, 114px 28.3333333333px #ffd000, -47px -134.6666666667px #ff0033, 65px 80.3333333333px #ff003c, -119px 29.3333333333px #22ff00, -78px -303.6666666667px #ff4d00, -165px 1.3333333333px #ff5900, -232px -382.6666666667px #ff0033, -120px -320.6666666667px #ff00e1, -100px -333.6666666667px #ff9500, 1px 34.3333333333px #ff006f, 182px -290.6666666667px #1100ff, -130px -342.6666666667px #e6ff00, -62px 3.3333333333px #ff7b00, 66px -56.6666666667px #0055ff, 173px 60.3333333333px #00ff48, 79px -360.6666666667px #66ff00, -70px 56.3333333333px #00ff91, -58px -192.6666666667px #7300ff, 28px -135.6666666667px #00ffd5, -235px -244.6666666667px #5100ff, 201px -72.6666666667px #ffd900, 11px 15.3333333333px #ff0011, -38px -81.6666666667px #ff002b, -5px -95.6666666667px #00ff40, -112px -51.6666666667px #00ff7b, -53px -321.6666666667px #ff1100;
      }
    }
    @-ms-keyframes bang {
      to {
        box-shadow: -101px -248.6666666667px #dd00ff, -214px -70.6666666667px #00f2ff, 216px -10.6666666667px #ff5e00, -222px -312.6666666667px #00ff88, 103px -39.6666666667px #3c00ff, 15px -320.6666666667px #00ffae, -231px -345.6666666667px #ff9900, -112px -203.6666666667px #ff6f00, 93px -112.6666666667px #00ff84, -17px 83.3333333333px #ff00a2, 248px 66.3333333333px #00ff15, -136px -113.6666666667px #ff007b, -214px -15.6666666667px #48ff00, -165px -33.6666666667px #ff0066, -136px -103.6666666667px #0088ff, 150px -133.6666666667px #001eff, 131px -82.6666666667px #fff700, 60px -185.6666666667px #ff2600, -15px -97.6666666667px #009dff, 192px -198.6666666667px #00ffee, -171px -122.6666666667px #fff200, -34px 32.3333333333px #00ff73, 229px -167.6666666667px #95ff00, -176px -5.6666666667px #ff6a00, 49px 54.3333333333px #0400ff, 114px 28.3333333333px #ffd000, -47px -134.6666666667px #ff0033, 65px 80.3333333333px #ff003c, -119px 29.3333333333px #22ff00, -78px -303.6666666667px #ff4d00, -165px 1.3333333333px #ff5900, -232px -382.6666666667px #ff0033, -120px -320.6666666667px #ff00e1, -100px -333.6666666667px #ff9500, 1px 34.3333333333px #ff006f, 182px -290.6666666667px #1100ff, -130px -342.6666666667px #e6ff00, -62px 3.3333333333px #ff7b00, 66px -56.6666666667px #0055ff, 173px 60.3333333333px #00ff48, 79px -360.6666666667px #66ff00, -70px 56.3333333333px #00ff91, -58px -192.6666666667px #7300ff, 28px -135.6666666667px #00ffd5, -235px -244.6666666667px #5100ff, 201px -72.6666666667px #ffd900, 11px 15.3333333333px #ff0011, -38px -81.6666666667px #ff002b, -5px -95.6666666667px #00ff40, -112px -51.6666666667px #00ff7b, -53px -321.6666666667px #ff1100;
      }
    }
    @keyframes bang {
      to {
        box-shadow: -101px -248.6666666667px #dd00ff, -214px -70.6666666667px #00f2ff, 216px -10.6666666667px #ff5e00, -222px -312.6666666667px #00ff88, 103px -39.6666666667px #3c00ff, 15px -320.6666666667px #00ffae, -231px -345.6666666667px #ff9900, -112px -203.6666666667px #ff6f00, 93px -112.6666666667px #00ff84, -17px 83.3333333333px #ff00a2, 248px 66.3333333333px #00ff15, -136px -113.6666666667px #ff007b, -214px -15.6666666667px #48ff00, -165px -33.6666666667px #ff0066, -136px -103.6666666667px #0088ff, 150px -133.6666666667px #001eff, 131px -82.6666666667px #fff700, 60px -185.6666666667px #ff2600, -15px -97.6666666667px #009dff, 192px -198.6666666667px #00ffee, -171px -122.6666666667px #fff200, -34px 32.3333333333px #00ff73, 229px -167.6666666667px #95ff00, -176px -5.6666666667px #ff6a00, 49px 54.3333333333px #0400ff, 114px 28.3333333333px #ffd000, -47px -134.6666666667px #ff0033, 65px 80.3333333333px #ff003c, -119px 29.3333333333px #22ff00, -78px -303.6666666667px #ff4d00, -165px 1.3333333333px #ff5900, -232px -382.6666666667px #ff0033, -120px -320.6666666667px #ff00e1, -100px -333.6666666667px #ff9500, 1px 34.3333333333px #ff006f, 182px -290.6666666667px #1100ff, -130px -342.6666666667px #e6ff00, -62px 3.3333333333px #ff7b00, 66px -56.6666666667px #0055ff, 173px 60.3333333333px #00ff48, 79px -360.6666666667px #66ff00, -70px 56.3333333333px #00ff91, -58px -192.6666666667px #7300ff, 28px -135.6666666667px #00ffd5, -235px -244.6666666667px #5100ff, 201px -72.6666666667px #ffd900, 11px 15.3333333333px #ff0011, -38px -81.6666666667px #ff002b, -5px -95.6666666667px #00ff40, -112px -51.6666666667px #00ff7b, -53px -321.6666666667px #ff1100;
      }
    }
    @-webkit-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
      }
    }
    @-moz-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
      }
    }
    @-o-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
      }
    }
    @-ms-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
      }
    }
    @keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
      }
    }
    @-webkit-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
      }
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
      }
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
      }
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
      }
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
      }
    }
    @-moz-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
      }
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
      }
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
      }
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
      }
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
      }
    }
    @-o-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
      }
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
      }
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
      }
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
      }
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
      }
    }
    @-ms-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
      }
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
      }
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
      }
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
      }
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
      }
    }
    @keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
      }
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
      }
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
      }
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
      }
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
      }
    }

</style>
