<template>
    <RegisterLayout :title="titles[aba-1]">
        <ul class="abas">
            <li :class="`aba ${aba === 1 ? 'current' : ''}`" @click="goTo(1)">
                Quem?
            </li>
            <li :class="`aba ${aba === 2 ? 'current' : ''}`" @click="goTo(2)">
                Qual?
            </li>
            <li :class="`aba ${aba === 3 ? 'current' : ''}`" @click="goTo(3)">
                O quê?
            </li>
            <li :class="`aba ${aba === 4 ? 'current' : ''}`" @click="goTo(4)">
                Como?
            </li>
            <li :class="`aba ${aba === 5 ? 'current' : ''}`">
                Veja
            </li>
        </ul>

        <section class="content">
            <div v-if="aba === 1">
                <label class="question-label">Escolha!</label>
                <input class="filter-input" placeholder="Filtrar" v-model="memberFilter">
                <div class="question" v-if="aba === 1">
                    <div v-for="(memberO, index) in filteredMembers" :key="index" class="member" @click="setMember(memberO)">
                        <img :src="`https://www.gravatar.com/avatar/${md5(memberO.email)}?s=100`" class="member-image" alt="gravatar do membro">

                        <label class="member-name">
                            {{ memberO.name }}
                        </label>
                    </div>
                </div>
            </div>

            <div v-if="aba === 2">
                <label class="question-label">Escolha!</label>
                <div class="question">
                    <div v-for="(meme, index) in filteredMemes" :key="index" class="meme" @click="setMeme(meme)">
                        <img :src="`private/${team}/memes/${meme.image}`" alt="imagem da figurinha">
                        <label :class="meme.color">{{ meme.title }}</label>
                    </div>
                </div>
            </div>

            <div class="description" v-if="aba === 3">
                <label>Deixe o seu recado! <small>(Ele deve ser anônimo, não diga seu nome!)</small></label>
                <textarea v-model="description" required maxlength="256"></textarea>
                <div class="action">
                    <button type="button" @click="next" :disabled="description === ''">Próximo</button>
                </div>
            </div>

            <div v-if="aba === 4">
                <label class="question-label">Qual Badge esse feedback merece?</label>
                <div class="question">
                    <div v-for="(meme, index) in pillars" :key="index" class="meme" @click="setPillar(meme)">
                        <img :src="`private/db1/memes/${meme.image}`" alt="imagem da figurinha">
                        <label :class="meme.color">{{ meme.title }}</label>
                    </div>
                    <div class="meme" @click="setPillar()">
                        <img :src="`private/db1/memes/cancel.png`" alt="imagem da figurinha">
                        <label class="color-4">Nenhum</label>
                    </div>
                </div>
            </div>

            <div v-if="aba === 5">
                <label class="ql">SEU KUDO ESTA PRONTO! <small>(SÓ FALTAR VOCÊ COLAR NO WALL)</small></label>

                <div class="centered m15">
                <Card style="max-width: 450px" :card="getCard()" :color="meme.color" />
                </div>

                <div class="action">
                    <a @click="confirm" class="button">Enviar Kudo!</a>
                </div>
            </div>

        </section>
    </RegisterLayout>
</template>

<script>
import axios from 'axios'
import { team, uri } from '../tenant'
import Card from '../components/Card'
import RegisterLayout from '../layouts/RegisterLayout'

const md5sum = require('md5')

export default {
  name: 'Register',
  components: {
    Card,
    RegisterLayout
  },
  data: function () {
    return {
      memberFilter: '',
      members: [],
      pillars: [],
      memes: [],
      meme: null,
      pillar: null,
      description: '',
      member: '',
      aba: 1,
      team: team,
      titles: [
        'melhor um kudo na wall, do que dois voando',
        'pimenta no kudo dos outros, é refresco',
        'O que o coração não diz, o kudo não sente',
        'Kudo também é Cultura!',
        'Mostre-me os seus Kudos, e te direi quem tu és.'
      ]
    }
  },
  methods: {
    loadJson (name) {
      fetch(`private/${team}/${name}.json`)
        .then(response => response.json())
        .then(json => {
          this[name] = json
        })
        .catch(error => {
          console.log(error)
          this.$router.push('/')
        })
    },
    loadPillars () {
      fetch(`private/db1/memes.json`)
        .then(response => response.json())
        .then(json => {
          this.pillars = json
        })
    },
    setMember (member) {
      this.member = member.name
      this.next()
    },
    setMeme (memeNew) {
      this.meme = memeNew
      this.next()
    },
    setPillar (memeNew) {
      this.pillar = memeNew
      this.next()
    },
    goTo (aba) {
      if (this.aba > aba) {
        this.aba = aba
      }
    },
    next () {
      this.aba++
    },
    confirm () {
      const card = this.getCard()

      axios.post(`${uri}/card/${team}`, card)
        .then(response => {
          this.$toastr.s('Seu Kudo é Meu agora!', 'Ta salvo')
          this.$router.push('/')
        })
        .catch(error => {
          console.log(error)
          this.$toastr.e('Vish, deu ruim')
        })
    },
    md5 (value) {
      return md5sum(value)
    },
    getCard () {
      return {
        member: this.member,
        description: this.description,
        meme: this.meme.image,
        pillar: this.pillar,
        title: this.meme.title,
        author: this.$adal.user.profile.unique_name
      }
    }
  },
  computed: {
    filteredMembers () {
      return this
        .members
        .filter(member => member.email !== this.$adal.user.profile.unique_name)
        .filter(member => member.email.includes(this.memberFilter.toLowerCase()) || member.name.toLowerCase().includes(this.memberFilter.toLowerCase()))
        .sort((o1, o2) => o1.name.localeCompare(o2.name))
    },
    filteredMemes () {
      return this
        .memes
        .filter(meme => !meme.inactive)
    }
  },
  created () {
    this.loadJson('memes')
    this.loadJson('members')
    this.loadPillars()
  }
}
</script>

<style scoped>
.abas {
    padding-top: 15px;
    padding-left: 0px;
    margin: 0;
    background-color: white;
    position: relative;
    overflow: hidden;
    list-style-type: none;
}

.abas > li {
    position: relative;
    float: left;
    width: 20%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.abas > li:before {
    content: "";
    display: block;
    background-color: white;
    border: 10px solid var(--breadcrumb-line-color);
    text-align: center;
    width: 1em;
    height: 1em;
    line-height: 1.5em;
    border-radius: 2em;
    position: relative;
    left: 50%;
    margin-bottom: 0.5em;
    margin-left: -1em;
    z-index: 1;
    padding: 2px;
    cursor: pointer;
}

.abas > li.current::before {
    border-color: var(--breadcrumb-dot-color);
}

.abas > .current ~ li:before {
  background-color: #ccc;
  color: #ccc;
  border-color: #ccc;
  cursor: initial;
}

.abas li + li:after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--breadcrumb-line-color);
  height: 0.5em;
  position: absolute;
  left: -50%;
  top: 0.9em;
  z-index: 0;
}

.abas > .current ~ li:after {
    background-color: #ccc;
}

.question {
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 20px;
    width: 100%;
}

.member {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    min-height: 130px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.member:hover {
    background-color: #ccc;
    cursor: pointer;
}

.member-image {
    border-radius: 60px;
    margin: 0 auto;
}

.member-name {
    font-weight: bold;
    align-content: center;
}

.meme {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    min-height: 80px;
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
}

.meme img {
    margin: 7px auto;
    max-width: 100%;
    max-height: 90px;
}

.meme label {
    border-radius: 0 0 7px 7px;
    height: 60px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 0.7rem;
}

.meme:hover {
    background-color: #ccc;
    cursor: pointer;
}

.description {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 15px;
    width: 100%;
}

.ql, .question-label, .description label {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3em;
}

.question-label {
    float: left;
}

textarea {
    resize: none;
    font-family: MontSerrat;
    font-size: 1.2em;
    padding: 10px;
    height: 8em;
}

.action {
    display: flex;
    justify-content: flex-end;
}

small {
    font-size: 0.8em;
    font-weight: normal;
}

@media(max-width: 760px) {
    .question {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 600px) {
    .question {
        grid-template-columns: repeat(2, 1fr);
    }
}

.m15 { margin: 15px }

.filter-input {
    font-size: 1.1em;
    float: left;
    clear: both;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    padding: 5px;
}

</style>
