<template>
  <!-- <fragment> -->
    <div ref="cardCanvas" class="card">
        <div :class="'title ' + color">
            {{card.title}}
        </div>
        <div class="content">
            <img :src="`private/${team}/memes/${card.meme}`" class="meme" alt="imagem da figurinha do card">
            <div class="member">
                <strong>{{card.member}},</strong>
            </div>
            <div class="message">
                {{card.description}}
            </div>
            <img v-if="card.pillar" :src="`private/db1/memes/${card.pillar.image}`" class="pillar" alt="imagem do pillar" :title="card.pillar.title">
        </div>
    </div>
    <!-- <img v-show="cardExported" class="exported-card" :src="cardExported"> -->
  <!-- </fragment> -->
</template>

<script>
import { team } from '../tenant'
// import { Fragment } from 'vue-fragment'

export default {
  name: 'Card',
  // components: { Fragment },
  props: {
    card: Object,
    color: String
    // exported: Boolean
  },
  data: function () {
    return {
      team: team
      // ,
      // cardExported: null
    }
  }
  // methods: {
  //   async print () {
  //     const el = this.$refs.cardCanvas
  //     const options = {
  //       type: 'dataURL'
  //     }
  //     this.cardExported = await this.$html2canvas(el, options)
  //   }
  // },
  // mounted () {
  //   if (this.exported) {
  //     this.print()
  //   }
  // }
}
</script>

<style scoped>
.exported-card {
  width: 100%;
  max-width: 450px;
  min-height: 215px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.2);
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 215px;
    max-width: 451px;
    width: 100%;
}

.content {
    display: grid;
    grid-template-areas:
    'img member'
    'img message'
    'img pillar';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
}

.member {
    grid-area: member;
    text-align: left;
    padding-top: 5px;
}

.message {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-top: 5px;
}

.meme {
    grid-area: img;
    max-height: 10em;
    max-width: 10em;
    padding: 0.3vw;
    align-self: center;
}
.pillar {
    grid-area: pillar;
    max-height: 50px;
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

.title {
    background-color: var(--header-color);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: calc(5px + 1 * 0.7vw);
    border-radius: 5px 5px 0 0;
}

@media print {
  .exported-card {
      margin-left: 15px;
      margin-top: 15px;
  }

  .card {
        display: none;
  }
}
</style>
