<template>
    <nav>
        <h1>Kudo Wall</h1>
        <h4 class="pc">Semana {{weekOfYear}}/{{year}} ({{startWeek}} até {{endWeek}})</h4>
    </nav>
</template>

<script>
import { weekOfYear, year, startWeek, endWeek, team } from '../tenant'

export default {
  name: 'Header',
  data: function () {
    return {
      weekOfYear,
      year,
      startWeek,
      endWeek
    }
  },
  created () {
    const urlImages = `url(/private/${team}/logo/header01.png), url(/private/${team}/logo/header02.png), url(/private/${team}/logo/header03.png), url(/private/${team}/logo/header04.png)`
    document.documentElement.style.setProperty('--header-bg-image', urlImages)
  }
}
</script>

<style scoped>

nav {
  background-color: var(--header-color);
  color: white;
  padding: 15px;
  margin: 0;
  font-weight: 900;
  text-align: center;
}

@media(min-width: 700px) {
  nav {
    background-size: var(--header-bg-size);
    background-image: var(--header-bg-image);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position-x: var(--header-bg-position-x);
    background-position-y: var(--header-bg-position-y);
  }
}

@media print {
  nav {
    display: none;
  }
}
</style>
