<template>
  <div>
      <label :for="id">{{header}}</label>
      <input :id="id" type="text" class="form-input" v-model="value" @change="change()">
  </div>
</template>

<script>
export default {
  name: 'StyleComponent',
  props: {
    property: { required: true },
    header: {
      type: String,
      required: true
    }
  },
  data: function () {
    return {
      value: '',
      id: ''
    }
  },
  methods: {
    init () {
      this.value = getComputedStyle(document.documentElement).getPropertyValue(this.property)
    },
    change () {
      document.documentElement.style.setProperty(this.property, this.value)
    }
  },
  created () {
    this.init()
  },
  mounted () {
    this.id = this._uid
  }
}
</script>

<style scoped>
    div {
        display: grid;
        grid-template-columns: 60% 1fr;
    }

    .form-input {
      width: 100%;
      height: 18px;
    }
</style>
