<template>
    <div class="body">
      <div id="app">
          <router-link to="/" class="pc button back-button">Voltar para Wall</router-link>
          <router-link to="/" class="mobile back-button"></router-link>

          <nav class="header-form">
              <h3>{{title}}</h3>
          </nav>

          <slot></slot>
      </div>
    </div>
</template>

<script>
import { team } from '../tenant'

export default {
  name: 'RegisterLayout',
  props: {
    title: {
      type: String,
      required: true
    }
  },
  created () {
    const urlImages = `url(/private/${team}/logo/panel-left.png), url(/private/${team}/logo/panel-right.png)`
    document.documentElement.style.setProperty('--body-background-image', urlImages)
  }
}
</script>

<style scoped>
#app {
    max-width: 760px;
    margin: 0 auto;
}

.body {
    padding-top: 7px;
    height: 100vh;
    align-items: center;
    color: var(--font-color);
    background-image: var(--body-background-image);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-color: var(--body-background-color);
    background-size: var(--body-background-size);
    background-position-x: var(--body-background-position-x);
    background-position-y: var(--body-background-position-y);
}

.header-form {
    background-color: var(--form-title);
    color: white;
    margin: 0;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding: 0.3vw;
    font-size: 1.2em;
}

.content {
    background-color: white;
    padding: calc(12px + 1 * 0.7vw);
    padding-top: 30px;
    height: 100vh;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

@media(min-width: 1220px) {
    .back-button {
        position: fixed;
        top: 130px;
        left: calc(calc(50vw - 350px) / 2 - 100px);
    }
}

.mobile.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  text-decoration: none;
  font-family: monospace;
}

.mobile.back-button::after {
  font-size: 48px;
  content: '←'
}

@media (min-width: 600px) {
  .content {
    max-height: calc(100vh - 306px);
  }
}

@media (min-width: 1600px) {
  .content {
    max-height: calc(100vh - 340px);
  }
}

</style>
